<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <!-- Dessign author
    <meta name="author" lang="cs" content="David Kohout; http://www.davidkohout.cz" />
    <meta name="copyright" lang="cs" content="David Kohout; http://www.davidkohout.cz" />
    -->
    <meta name="description" content="Demo for upload" />
    <meta name="keywords" content="upload,django,appfuse" />
    <meta name="robots" content="all,follow" />
    {% block css %}
    <link href="/media/css/screen.css" type="text/css" rel="stylesheet" media="screen,projection" />
    {% endblock css %}
    <title>{% block title%}The Django upload sample{%endblock title %}</title>
  </head>
  <body>

    <div id="layout">

      <div id="header">
        {% block page_header %}
        <h1 id="logo"><a href="#" title="#"><span> Uploading</span> Files</a></h1>
        <hr class="noscreen" />


        <div id="navigation">
        <ul>
          <li id="first"><a href="#" title="#">Everyone</a></li>
          <li><a href="#" title="#">Loves</a></li>
          <li><a href="#" title="#">Django</a></li>
          <li><a href="#" title="#">Do you?</a></li>
        </ul>
        </div>
        <hr class="noscreen" />
        {% endblock page_header %}
      </div>

        <div id="main">

        <div id="main-box">
        <div id="quote">This is an example about uploading files</div>
        </div>

        <div id="content">
        {%block content %}
        <h2>Upload sample</h2>
        <p>On this examples we're goint to show how to upload files to a server using Django, and secondary how we have adpated
        a web dessing to convert-it to a Django template, is as easy as convert the references to images, css files and javascripts
        in ordert to have the media prefix we have defined in the configuration, in our case is <strong>media</strong>.
        </p>
        <ul>
            <li><a href="/filemanager/attach/">The classic attchment</a></li>
            <li><a href="/filemanager/list/">List the files</a></li>
            <li>Using jquery upload</li>
        </ul>
        {% block center_content %}
        <h3>Some images</h3>

            <div class="thumbnail">
            <a href="/"><img src="/media/img/sample.gif" alt="" width="130" height="95" /></a><br />
            </div>
            <div class="thumbnail">
            <a href="/"><img src="/media/img/sample.gif" alt="" width="130" height="95" /></a><br />
            </div>
            <div class="thumbnail">
            <a href="/"><img src="/media/img/sample.gif" alt="" width="130" height="95" /></a><br />
            </div>
            <div class="thumbnail">
            <a href="/"><img src="/media/img/sample.gif" alt="" width="130" height="95" /></a><br />
            </div>
            <div class="thumbnail">
            <a href="/"><img src="/media/img/sample.gif" alt="" width="130" height="95" /></a><br />
            </div>

            <hr class="noscreen clear"  />
        {% endblock center_content %}
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, <a href="/">consectetur</a> adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo. cidi dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea <a href="/">commodo</a>.
        </p>


        <table>
          <tr class="table-top">
            <td>Sample table</td>
            <td>Sample table</td>
            <td>Sample table</td>
            <td>Sample table</td>
          </tr>
          <tr>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
          </tr>
          <tr>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
            <td>Lorem ipsum</td>
          </tr>
          </table>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo. </p><p>Cidi dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua.</p>
        {% endblock content %}
        </div>

         {% block footer %}
        <div id="footer">
        <p id="copyright">&copy; 2008 - <a href="http://aspl.net">apsl</a></p>

        <!-- Please don't delete this. You can use this template for free and this is the only way that you can say thanks to me -->
          <p id="dont-delete-this">Design by <a href="http://www.davidkohout.cz">David Kohout</a> | Our tip: <a href="/" title="/">Sponsored link goes here</a></p>
        <!-- Thank you :) -->

        </div>
        {% endblock footer %}

        </div>
        </div>
    {% block javascript_files %}{%endblock javascript_files %}
  </body>
</html>
