<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Agenda in a table</title>		      
        <!-- Include Ext and app-specific scripts: -->
        <script type="text/javascript" src="/media/extjs/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="/media/extjs/ext-all.js"></script>
		<script type="text/javascript" src="/media/js/reader.js"></script>
        <script type="text/javascript" src="/media/js/agenda.js"></script>
    
        <!-- Include Ext stylesheets here: -->
        <link rel="stylesheet" type="text/css" href="/media/extjs/resources/css/ext-all.css">
        <link rel="stylesheet" type="text/css" href="/media/css/agenda.css">
	</head>
	<body>
		<h1>Agenda grid</h1>
        <div id="content"></div>        
    </div>
	</body>
</html>
