<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery + Django upload Demo</title>

</head>

<body>
    <p>This snippet shows how to upload multiple files to django from
    two jQuery pluggins</p>
    <p>Configure properties.py and set the upload_folder path</p>
    <ul>
        <li><a href="/bulk/">Bulk uploader</a></li>
        <li><a href="/multi/">Multi file uploader</a></li>
    </ul>
</body>
</html>
