{% load i18n %}
{% trans "Benvolgut: " %}{{inscripcion.user.username}}<br/>
<br/>
<p>
S'ha produït una baixa a l'a inscripció de l'event {{inscripcion.evento.nombre}} en el
qual figures en llista d'espera, i has passat a l'estat de inscrit de ple dret.<br/>
Si no t'interessa o no hi pots assistir, per favor entra a la web d'inscripció
<a href="{{site.domain}}">{{site.domain}}</a> i dona't de baixa, així donaràs l'oportunitat
a que algú altra en llista d'espera ocupi el teu lloc.
</p>

<p>Gràcies</p>

<p>L'organització del Creant Bits</p>
