<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml">
{% load i18n %}    
<head>
    <title>{% trans "Appfuse Demo" %}</title>
</head>
<body>
    <body>
        <p>Appfuse just provides a minimun design and it focuses on showing how to do some of the
        most usual thinks in Django</p>
     
        <p><strong>Menu</strong></p>
        <ul>
            <li><a href="/agenda/">Classic HTML based demo</a></li>
            <li><a href="/agenda/tabla/">Demo extjs</a></li>
            <li><a href="/agenda/jqgrid/">Demo jqgrid</a></li>
        </ul>            
    </body>
</html>
