<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml">
{% load i18n %}    
<head>
    <title>{% trans "Simple project Demo" %}</title>
</head>
    <body>
        <h1>Hello!</h1>
        <p>This project would show how to combine two or mode forms in one template</p>
        <ul>
            <li><a href="/multipleform/twoforms/">two forms</a></li>
            <li><a href="/multipleform/samenameforms/">Forms with equal name fields</a></li>
        </ul>

    </body>
</html>
