{% extends "base.html" %}
{% load i18n tags_evento %}

{% block content %}
{{extra_content}}
{% if eventos %}
    <ul>
    {% for evento in eventos %}
        {% is_inscrito user evento as inscrito %}
        <li>
{{inscrito}}        {{evento.slug}} - {{evento.nombre}} - {{evento.descripcion_corta}} {% if inscrito %}Ya estás inscrito |<a href="#">Cancela</a>
            {% else %}<a href="{% url inscribirse evento.slug %}">Inscríbete</a>{% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay eventos previstos por el momento</p>
{% endif %}
{% endblock content %}
