{% extends "agenda/base.html" %}
{% load i18n %}
{% block content %}
	<h1>{% trans "Confirmacion de borrado " %}</h1>
	<p> {% trans "Seguro que desea borrar esta ficha" %} </p>
	<dl>
		<dt>{% trans "Nombre" %}:</dt><dd>{{ficha.first_name}} </dt>
		<dt>{% trans "Apellido"%}:</dt><dd>{{ficha.last_name}}</dt>
	</dl>
	
	<form action="." method="POST">
		<INPUT type="submit" name="sure" value="{% trans "Seguro, seguro"%}" alt="{% trans "seguro"%}">
	</form>
	<a href="/agenda/">{% trans "No estoy seguro, muestrame la lista" %}</a>
{% endblock conntent %}